*{
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

span{
    color:  rgb(66, 176, 139);;
}

.sec4{
    height: 50vh;
    padding: 50px 30px;
    background:linear-gradient(to bottom,rgba(0, 0, 0, 0.986),rgba(23, 22, 22, 0.756));
    text-wrap: wrap;
}

.sec4 p{
    font-size: xx-large;
    text-align: center;
    color:white;
    text-shadow: 2px 2px 9px rgb(0, 0, 0);
}

@media screen and (max-width:930px) {
    .sec4{
        height: 100vh;
    }
}

@media screen and (max-width:380px) {
    .sec4 p{
        font-size: large;
    } 
    .sec4{
        height: 50vh;
    }
}

